body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-menu .ant-menu-item {
  font-size: 16px;
  font-weight: 500;
}

.custom-menu .ant-menu-item {
  font-size: 18px;
  font-weight: 500;
  color: black; /* text is white by default */
}

.custom-menu .ant-menu-item:hover {
  background-color: #cbc2b8 !important; /* lighter grey on hover */
  color: #2e2e2e !important; /* dark text when hovered for contrast */
  border-bottom: 2px solid black !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: #a9a39a !important; /* slightly darker variation of cbc2b8 for selected state */
  color: black !important;
  
}


/* Ta bort blå underline på aktiv menyval */
.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
}

/* Ta bort ink bar (blå linje som följer menyval) */
.ant-menu-horizontal .ant-menu-item-selected::after {
  border-bottom: none !important;
  transition: none !important;
}


.custom-menu .ant-menu-item-selected::after {
  border-bottom: 2px solid black !important;
}

.ant-menu-dark .ant-menu-item-selected {
  border-bottom: none !important;
  box-shadow: none !important;
}

.ant-menu-dark .ant-menu-item-active {
  border-bottom: none !important;
  box-shadow: none !important;
}

.boka-bord-knapp {
  background-color: #cbc2b8;
  border-color: #cbc2b8;
  color: #000;
  font-size: 18px;
  padding: 24px 24px;
  font-weight: 500;
}

.boka-bord-knapp:hover,
.boka-bord-knapp:focus {
  background-color: #a29b93 !important;
  border-color: #a29b93 !important;
  color: #000 !important;
}


.skicka-bokning-knapp {
  background-color: #716559;
  border-color: #716559;
  color: #fff;
}

.skicka-bokning-knapp:hover,
.skicka-bokning-knapp:focus {
  background-color: #5f574d !important;
  border-color: #5f574d !important;
  color: #fff !important;
}


.custom-menu .ant-menu-item {
  font-size: 16px;
  padding: 0 20px;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu-button {
    display: inline-block;
  }
}
